/* Lets pick colours! */

:root {
  --bg-color: #fff;
  --text-color: #000;
  --highlight-color: #000;
  --link-color: #87591e;
}

body,
html {
  display: flex;
  flex-direction: column;
  text-align: center;

  color: var(--text-color);
  background-color: var(--bg-color);

  /*Declare your font*/
  font-family: "Dosis", sans-serif;
}

/*choose your type heirarchy*/
h1,
h2,
h3,
h4 {
  font-weight: 700;
}
h1 {
  padding: 10px;
  font-size: 70px;
  font-family: "Pacifico", cursive;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1rem;
}
h4 {
  font-size: 1rem;
}

b {
  font-weight: 700;
}
i {
  font-style: italic;
}
a {
  color: var(--link-color);
}

.app {
  display: flex;
  align-items: flex-start;
}

.shopsign {
  display: none;
  width: 230px;
  margin-top: 30px;
}

.moustache {
  width: 150px;
}

/*basic structure*/
.container {
  flex: 2;

  display: flex;
  margin: 0 auto;
  /* max-width: 50rem; */
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.content {
  flex: 2;
}

.footer {
  flex: 1;
  padding: 2rem 0;
  border-top: 2px solid black;
}

/*Header*/
.header {
  text-align: center;
  margin: auto;

  padding: 50px;
  padding-bottom: 2rem;
  border-bottom: 2px solid black;
}

/*content*/

.bio {
  flex-direction: column;
}
.bio p,
.bio ul li {
  margin-bottom: 1rem;
}

ul.jobs li {
  padding-right: 2rem;
  margin-bottom: 2rem;
}

/*content & footer*/
.footer {
  background-image: url("./blackandwhite.png");
  color: #87591e;
}

.col-1 {
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 66%;
}

.col-2 {
  flex-grow: 1;
  flex-shrink: 2;
  flex-basis: 33%;
}

.footer__col {
  background: white;
}
